body, html{
    height: 100%;
    width: 100%;
}

body{
    background-color: #C8C8C8;
    color: white;
    text-align:center;
}

#pagewrapper{
    background-color: black;
    min-height: 100%;
    margin: 0px auto;
    padding: 0px 1em;
    width: 1024px;
}

div#chats,
div#rolls{
    font-size: 0.8em;
    text-align: left;
    margin-bottom: 2em;
}

#chats{
    float: left;
    width: 65%;
}

#rolls{
    float: right;
    width: 33%;
}

div#chats input#chat_content{
    width: 90%;
}

div#rolls input#roll_code{
    width: 80%;
}

div#chats ol,
div#rolls ol{
    border: 1px solid gray;
    height: 30em;
    overflow-y: scroll;
}

div#chats ol li,
div#rolls ol li{
    padding-left: 1em;
    position: relative;
}

div.form_container{
    margin-top: 1em;
}

#roll_list .player,
#chat_list .player{
    color: #2EFE2E;
}

#roll_list .name,
#chat_list .name{
    font-weight: bold;
}

#roll_list .tripcode,
#chat_list .tripcode{
    color: #A4A4A4;
    font-family: monospace;
}

#roll_list .timestamp,
#chat_list .timestamp{
    color: #A4A4A4;
    font-family: monospace;
}

#chat_list .timestamp:after{
    content: " > ";
}

#roll_list .timestamp:before{
    content: "< ";
}

#roll_list .code,
#roll_list .result,
#roll_list .description{
    font-family: monospace;
    font-size: 1.2em;
}

#roll_list .code{
    font-weight: bold;
}

#roll_list .result{
    color: #5858FA;
    font-weight: bold;
}

#roll_list .description{
    color: #BDBDBD;
}

#roll_list .result:before{
    content: "=";
}

#roll_list .description:before{
    content: "(";
}

#roll_list .description:after{
    content: ")";
}

#roll_list li:hover span.timestamp{
    background-color: black;
    border: 1px solid gray;
    display: block;
    padding: 0.5em;
    position: absolute;
    right: 1em;
    z-index: 1000;
}

#roll_list li span.timestamp{
    display: none;
}
