body, html{
    height: 100%;
    width: 100%;
}

body{
    background-color: #C8C8C8;
    color: white;
    text-align:center;
}

#pagewrapper{
    background-color: black;
    height: 100%;
    margin: 0px auto;
    padding: 0px 1em;
    width: 1024px;
}

div#chats,
div#rolls{
    font-size: 0.8em;
    text-align: left;
    margin-bottom: 2em;
}

div#chats ol,
div#rolls ol{
    border: 1px solid gray;
    height: 15em;
    overflow-y: scroll;
}

div#chats ol li,
div#rolls ol li{
    padding-left: 1em;
}

div.form_container{
    margin-top: 1em;
}

#roll_list .player,
#chat_list .player{
    color: #2EFE2E;
}

#roll_list .name,
#chat_list .name{
    font-weight: bold;
}

#roll_list .tripcode,
#chat_list .tripcode{
    color: #A4A4A4;
    font-family: monospace;
}

#roll_list .code{
    color: #088A85;
    font-family: monospace;
    font-size: 1.2em;
    font-weight: bold;
}